body{
    background-color: rgb(1, 53, 1);
    text-align: center;
    color: azure;
}
#mainHeading-el{
    color: goldenrod;
    font-size: 70px;
    padding-top: 50px;
}
#statement-el{
    font-size: 35px;
    font-style: italic;
}
#cards-el{
    font-size: 25px;
    margin: 50px 0 30px 0;
}
#sum-el{
    font-size: 25px;
    margin-bottom: 50px;
}
#buttons-el{
display: flex;
flex-direction: column;
align-items: center;

}
#startGame-el{
width: 20%;
height: 50px;
background-color: goldenrod;
margin: 0px 0 10px 0;
border-radius: 4px;
border: none;
color:  rgb(1, 53, 1);
font-weight: 700;
font-size: 18px;
}
#newCard-el{
    height: 50px;
    width: 20%;
    background-color: goldenrod;
    border-radius: 4px;
    border: none;
    color:  rgb(1, 53, 1);
    font-weight: 700;
    font-size: 18px;
}

